html, body {
	bottom: 0;
	height: 100%;
	left: 0;
	margin: auto;
	right: 0;
	top: 0;
}

body,
.logged {
	font: 62.5%/1.5 "Helvetica Neue",Arial,Helvetica,sans-serif;
	font-size: 14px;
	color: #797979;
	line-height: 1.22;
	padding: 0px;
}

#sf_admin_container h1 {
	font-size: 22px;
}

.index {
	background: none repeat scroll 0 0 #333333;
}

.index #header {
	margin: 0 auto;
	height: 85px;
	position: relative;
	width: 450px;
	top: 40px;
}

.index #content form label {
	display: block;
	padding: 0 0 5px;
}

label.inline {
	display: inline !important;
}

#content #sf_admin_container,
#header .menu-container {
	width: 952px;
	margin: 0 auto;
	overflow: hidden;
}

#header {
/*	background: #012B45; */
	background: #222;
	height: 50px;
	margin-bottom: 20px;
}
.menu-container {
	padding: 5px;
}

#menu {
  float: left;
}

#menu, #usuario {
  line-height: 1em;
	margin-top: 14px;
}

#logo {
	float: left;
}

#logo img {
	height: 30px;
	margin: 3px 10px 0 0;
}

#menu .sf-navbar {
	margin-top: 0;
}

#menu .sf-navbar li {
	display: inline;
}

#menu .sf-navbar li a {
	color: #999;
	text-decoration: none;
}

#menu .sf-navbar li a:hover {
	color: #FFF;
}

#signout {
	float: right;
}

.content {
	margin-top: 20px;
}

#criadero_new li {
	padding-left: 5px;
}

.bloque_criadero {
	width: 600px;
}

.criadero-nombre {
	font-size: 14px;
}

.bloque_criadero tfoot td {
	font-style: italic;
	font-size: 11px;
	background-color: #E7EEF6;
}

#username {
	float: left;
}

#logout {
	float: right;
	margin-top: -5px;
}

#logout a {
    background: url("/images/on.png") no-repeat scroll center bottom transparent;
    float: right;
    margin-left: 5px;
    padding: 11px 16px;
}

#logout a:hover {
    background: url("/images/off.png") no-repeat scroll center bottom transparent;
}

/*
#sf_admin_container .bloque_criadero thead tr th {
	background-color: #2f5d8c;
	color: #fff;
}
*/

.bloque_acciones {
	float: right;
}

#sectorcriadero_new {
	display: inline;
	padding-left: 5px;
}

#login-box {
	margin: -145px 0 0 -225px;
	left: 50%;
	top: 30%;
	position: absolute;
}

#login-box-header {
	margin-bottom: 10px;
}

#login-box img {
	border: 0;
}

#login-form {
	text-align: left;
	background: #FFF;
	padding: 20px 40px;
	width: 370px;
}

input.form {
	background-color: #F7F7F7;
	border: 1px solid #CDCDCD;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 18px;
	ime-mode: disabled;
	margin: 0 0 15px;
	padding: 4px;
	width: 360px;
}

#login-form input[type="checkbox"] {
	width: auto;
}

#form-footer {
	height: 45px;
	position: relative;
}

#form-footer a {
 text-decoration: none;
}

#boton-login {
background-image:url("/images/ingresar.png");
	color: #fff;
	font-weight: bold;
	border-style: none;
	cursor: pointer;
	display: block;
	height: 34px;
	position: absolute;
	right: 0;
/*text-indent:-9999px;*/
	top: 5px;
	width: 166px;
}

.index .error_list {
	-moz-border-radius: 4px 4px 4px 4px;
	background-color: #FFF68D;
	background-image: url("../img/login/icon_error.gif");
	background-position: 12px center;
	background-repeat: no-repeat;
	border: 1px solid #E3D623;
	font-size: 12px;
	margin: 0 0 15px;
	padding: 15px 8px 15px 50px;
	width: 310px;
}

.sf-menu li {
	margin: 0 10px;
	font-weight: bold;
	font-size: 12px;
}

input[type='submit'] {
	background-color: #3a599b;
	border: 0;
	border-radius: 5px;
	color: #FFFFFF;
  font-weight: bold;
	padding: 5px 10px;
}

form .sf_admin_actions {
	margin-bottom: 0px !important;
	margin-top: 20px !important;
	text-align: right;
}

#cboxClose {
	top: 0px;
	right: -10px;
	z-index:101;
}

#cboxLoadedContent {
	margin-bottom: 10px;
	margin-top: 10px;
}

#usuario {
	float: right;
}

#usuario span {
	color: #ccc;
	font-weight: bold;
}

#sf_admin_container ul.flotante li a {
	padding-bottom: 16px;
	display: block;
	width: 16px;
}

#sf_admin_container ul.sf_admin_td_actions.flotante li {
	display: inline-block;
	margin-right: 0px;
}

#sf_admin_container ul.flotante li.sf_admin_action_new a {
	display: block;
	padding-bottom: 16px;
	width: 16px;
	padding-right: 16px;
}

#sf_admin_container ul.sf_admin_actions.flotante li {
	list-style-type: none;
	display: inline-block;
	margin-right: 10px;
	width: 20px;
}

.box {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EFEFEF;
    margin: 0 auto 10px;
	margin-bottom: 12px;
    position: relative;
}

.box-title {
	background-color: #428BCA;
	color: #fff;
	padding-bottom: 5px !important;
    padding-top: 5px !important;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    font-weight: bold;
}

.strong {
    font-weight: bold;


}

.strongblack {
     color: #000000;
     font-weight: bold;


}
